@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Faustina:ital@1&family=Handlee&family=Indie+Flower&family=Josefin+Slab:wght@700&family=Kalam&family=Libre+Baskerville&family=Lora:ital@1&family=Open+Sans&family=Pacifico&family=Patrick+Hand&family=Playfair+Display+SC:ital@1&family=Rajdhani:wght@600&family=Rubik+Distressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Faustina:ital@1&family=Handlee&family=Indie+Flower&family=Josefin+Slab:wght@700&family=Kalam&family=Libre+Baskerville&family=Lora:ital@1&family=Nanum+Gothic&family=Open+Sans&family=Pacifico&family=Patrick+Hand&family=Playfair+Display+SC:ital@1&family=Rajdhani:wght@600&family=Rubik+Distressed&display=swap');
*{margin: 0;
padding: 0;}

.bgvideo{
    position: fixed;
    right: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height:auto;
    z-index: -1;
}
input{ padding: 25px 20px;
       border-radius: 30px;
       
}

button a{text-decoration: none;
font-size: 50px;color: black;border-radius: 90px;}

button{border-radius: 60px;padding:5px 10px;}


.border{
    border-color: white;
    border-style:dashed;
    border-width: 8px;
    padding: 20px 20px;
    width: 700px;
    border-radius: 80px;
    font-family: 'Nanum Gothic', sans-serif;}





}